<header class="page-title">
  <h1 class="main-title">Welcome to ByCommittee!</h1>
</header>

<section class="main-section welcome-section">
  <p>We’re glad you've decided to use Interfolio's suite of tools to streamline your committee work. ByCommittee empowers your committees to make better decisions, more efficiently allowing you to balance the demands of teaching, writing, and research.</p>
  <p>To get started using ByCommittee, please sign in using your Interfolio account.</p>
  <p><a class="btn btn-info" href="https://account-<%= server_environment_suffix %>.interfolio.com/login?destination=bycommittee">Sign in »</a></p>
</section>

<aside class="section-note sticky-note">
  <i class="note-arrow"><!-- triangle --></i>
  <p>If you get stuck, don't hesitate to contact us at <a href="mailto:help@interfolio.com">help@interfolio.com</a> or at (877) 997-8807.</p>
</aside>
